<div class="card mb-3">
  <div class="row g-0 p-1">
    <div class="col-sm-2">
      <img
        [src]="imageUrl"
        [alt]="title"
        height="64"
        width="64"
        class="img rounded cursor-pointer"
        (click)="goToSpotify($event)"
      >
    </div>
    <div class="col-sm-10">
      <div class="card-body p-0">
        <h6
          class="card-title text-bg-light text-nowrap overflow-hidden text-truncate ps-2"
          [title]="title"
        >{{title}}</h6>

        <ng-container *ngIf="previewUrl">
          <ng-container *ngIf="!isAudioPlaying">
            <spotify-icon
              iconClass="bi bi-play-circle-fill p-2"
              tooltip="Preview"
              (click)="playAudio($event)"
            ></spotify-icon>
          </ng-container>

          <ng-container *ngIf="isAudioPlaying">
            <spotify-icon
              iconClass="bi bi-pause-circle-fill p-2"
              tooltip="Preview"
              (click)="pauseAudio($event)"
            ></spotify-icon>
          </ng-container>
        </ng-container>

        <spotify-icon
          iconClass="bi bi-plus-circle-fill p-2"
          tooltip="Add to playlist"
        ></spotify-icon>
        <spotify-icon
          iconClass="bi bi-share-fill p-2"
          tooltip="Share"
        ></spotify-icon>
      </div>
    </div>
  </div>
</div>
