main {
  width: 100vw;
  height: 100vh;
  display: -webkit-box; /* Safari 6-12 */
  display: -moz-box; /* Firefox 19-28 */
  display: -ms-flexbox; /* IE 10 */
  display: -webkit-flex; /* Safari 6.1+ */
  display: flex;
  -webkit-flex-direction: column; /* Safari 6-12 */
  -ms-flex-direction: column; /* IE 10 */
  flex-direction: column;
  overflow-x: auto;
  overflow-y: auto;
}
