<div class="container-fluid bg-black">
  <h1 class="extra-large pb-3">Search</h1>
  <spotify-input-search
    placeholder="Search for artists, albums or tracks"
    name="search"
    (inputChanged)="search($event)"
  ></spotify-input-search>

  <ng-container *ngIf="artists.length || albums.length || tracks.length">
    <spotify-autocomplete-search-result
      [artists]="artists"
      [albums]="albums"
      [tracks]="tracks"
      (showMoreClicked)="showMoreResults()"
    ></spotify-autocomplete-search-result>
  </ng-container>
</div>
